@media screen and (min-width: 650px) {
            body{
                background-image: url(../docs/img/background0.png);
                background-repeat: no-repeat;
                 background-size: cover;
            } 
    
        }
        
        .topnavbar{
            background-color: #440501;
            overflow: hidden;
        }

        .topnavbar a{
            float: left;
            color: #ffffff;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font: 400 18px Lato, sans-serif;
        }
