@media screen and (min-width: 250px) {
    body{
        background-image: url(../docs/img/background0.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }

}


.topnavbar ul li{
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font: 400 18px Lato, sans-serif;
}

.topnavbar {
    background-color: #440501;
    overflow: hidden;
}

ul {
    list-style-type: none;
}

.exerciciosDiv {
    position:absolute;
    margin-top: 175px;
    margin-left: 350px;
    background: linear-gradient(164.22deg, #F05348 10%, #AE1005 69%);;
    width: 600px;
    height: 625px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 45px 30px 20px -5px rgba(0, 0, 0, 0.5);
}

.receitasDiv {
    position:absolute;
    margin-top: 175px;
    margin-left: 950px;
    background: rgba(255, 255, 255, 1);
    width: 600px;
    height: 625px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 30px 30px 20px -5px rgba(0, 0, 0, 0.5);
}

.exerciciosHeader {
    position:relative;
    top: 25px;
    text-align: center;
    color: #ffffff;
}

.receitasHeader {
    position: relative;
    top: 25px;
    text-align: center;
}

