@media screen and (min-width: 650px) {
            body{
                background-image: url(../docs/img/background0.png);
                background-repeat: no-repeat;
                 background-size: cover;
            } 
    
        }
        
        .topnavbar{
            background-color: #440501;
            overflow: hidden;
        }

        .topnavbar ul li{
            float: left;
            color: #ffffff;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font: 400 18px Lato, sans-serif;
        }

        .FichaDeTreino{
            background: linear-gradient(164.22deg, #F05348 10%, #AE1005 69%);;
            width: 600px;
            height: 800px;
            margin-left: 50px;
            margin-top: 50px;
            position:absolute;
        }
        
