@media screen and (min-width: 650px) {
            body{
                background-image: url(../docs/img/background0.png);
                background-repeat: no-repeat;
                 background-size: cover;
            } 
    
        }
        
        .topnavbar {
            background-color: #440501;
            overflow: hidden;
        }

        .topnavbar ul li{
            float: left;
            color: #ffffff;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font: 400 18px Lato, sans-serif;
        }

        ul {
            list-style-type: none;
        }

        /* -----form style ----- */
        form {
            border: none;
            padding: 2px;
            box-shadow: 0px 2px 0px 0px rgb(255, 255, 255);
            margin-top: 45px;
            margin-left: 25px;
            margin-right: 25px;
            margin-bottom: 25px;
          }

          /* -----botão-submit----- */
          input[type="submit"] {
            color: white;
            background-color: rgba(255, 255, 255, 0);
            border-radius: 7px;
            border-color: white;
            margin-left: 5px;
          }
            
          /* -----input-box----- */  
          input[type="text"] {
            margin-top: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
            background-color: rgba(255, 255, 255, 0);
            width: 505px;
            border:rgba(255, 255, 255, 0);
          }
          
          /* -----fichaDeTreino-Background----- */
        .FichaDeTreino {
            background: linear-gradient(164.22deg, #F05348 10%, #AE1005 69%);;
            width: 600px;
            height: 625px;
            border-radius: 7px;
            margin-left: 25px;
            margin-top: 75px;
            position:absolute;
        }
        /* -----fichaDeTreino-header----- */
        h2 {
            position: relative;
            top: 25px;
            text-align: center;
            color:rgb(255, 255, 255);
        };
        
