@media screen and (min-width: 250px) {
            body{
                background-image: url(../docs/img/background0.png);
                background-repeat: no-repeat;
                background-size: cover;
            } 
    
        }
        
        .topnavbar {
            background-color: #440501;
            overflow: hidden;
        }

        .topnavbar ul li{
            float: left;
            color: #ffffff;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        ul {
            list-style-type: none;
        }

        .home{
          padding: 10px;
          font-family: Arial, Helvetica, sans-serif;
          background: rgba(240, 83, 72, 1);
          border-color: rgba(240, 83, 72, 1);
          border-radius: 5px;
          color: white;
      }
      
      .academy{
          padding: 10px;
          font-family: Arial, Helvetica, sans-serif;
          background: rgba(240, 83, 72, 1);
          border-color: rgba(240, 83, 72, 1);
          border-radius: 5px;
          color: white;
      }
      
      .favoritos{
          padding: 10px;
          font-family: Arial, Helvetica, sans-serif;
          background: rgba(240, 83, 72, 1);
          border-color: rgba(240, 83, 72, 1);
          border-radius: 5px;
          color: white;
      }

        /* -----titulo da ficha----- */
        .FichaDeTreinoH2 {
            text-align: center;
            position: relative;
            top: 25px;
            color:rgb(255, 255, 255);
        }
        
        /* -----titulo da ficha----- */
        .DietasH2 {
          text-align: center;
          position: relative;
          top: 25px;
          color:#450400;
      }

          /* -----estilo em volta da caixa de texto----- */  
          .input1 {
            position: relative;
            left: 40px;
            bottom: -2px;
            width: 470px;
            border: none;
            outline-color: rgb(255, 255, 255);
            background-color: rgba(255, 255, 255, 0);
          }

          /* -----estilo em volta da caixa de texto2----- */  
          .input2 {
            position: relative;
            left: 40px;
            bottom: -2px;
            width: 470px;
            border: none;
            outline-color: #450400;
            background-color: rgba(255, 255, 255, 0);
          }


          /* -----botões de submit----- */
          .submit1 {
            position: relative;
            right: 484px;
            color: white;
            border-color: white;
            border: none;
            background-color: rgba(255, 255, 255, 0);
            font-size: 34px;
          }

          .submit2 {
            position: relative;
            right: 484px;
            color: #450400;
            border-color: #450400;
            border: none;
            background-color: rgba(255, 255, 255, 0);
            font-size: 34px;
          }

          /* -----estilo das linhas a baixo da caixa de texto----- */
        .form1 {
            position: relative;
            top: 40px;
            margin-left: 45px;
            margin-right: 45px;
            margin-top: 10px;
            border: none;
            box-shadow: 0px 2px 0px 0px rgb(255, 255, 255);
          }

          /* -----estilo das linhas a baixo da caixa de texto 2----- */
          .form2 {
            position: relative;
            top: 40px;
            margin-left: 45px;
            margin-right: 45px;
            margin-top: 10px;
            border: none;
            box-shadow: 0px 2px 0px 0px #450400;
          }


          /* -----fichaDeTreino-Background----- */
        .FichaDeTreino {
            position:absolute;
            margin-left: 350px;
            margin-top: 110px;
            background: linear-gradient(164.22deg, #F05348 10%, #AE1005 69%);;
            width: 600px;
            height: 625px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 7px;
            box-shadow: 45px 30px 20px -5px rgba(0, 0, 0, 0.5);
            
        }
          /* -----Dietas-Background----- */  
        .Dietas {
          position:absolute;
          margin-top: 110px;
          margin-left: 950px;
          background: rgb(255, 255, 255);
          width: 600px;
          height: 625px;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          box-shadow: 30px 30px 20px -5px rgba(0, 0, 0, 0.5);
      }

      a:link {
        color: white;
    }
    
    a:visited {
        color: white;
    }
    
    a:hover {
        color: #000000;
    }